*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.phone-card {
    width: 412px;
    min-height: 100vh;
    background-color: #B2D3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherName-box{
    margin: 50px 0 0 0;
    text-align: center;
}

.weatherName-dynamic img{
    width: 70%;
    justify-content: center;
    align-items: center;
}

.weather-box{
    margin: 10px 0 0 0;
    text-align: center;
}

.weather-dynamic img{
    width: 60%;
    justify-content: center;
    align-items: center;
}

/* otherinfo */
.weather-detail-box {
    display: flex;
    justify-content: center;
}
.weather-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 390px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 44px;
    background: rgba(74, 74, 74, 0.241); /* Warna putih transparan */
    backdrop-filter: blur(10px); /* Efek kaca buram */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan */
}

.weather-details {
    text-align: center;
}

.weather-details .date {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
}

.weather-details .location {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.weather-details .temp-range {
    font-size: 14px;
    color: #ffffff;
}

.weather-temp {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

/* Hourly Forecast */

.forecast-container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 30px 0 0 0;
    justify-content: center;
    border-radius: 44px;
    padding: 20px;
    gap: 0px;
    background: rgba(74, 74, 74, 0.241); /* Warna putih transparan */
    backdrop-filter: blur(10px); /* Efek kaca buram */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan */
}

.forecast-card {
    border: 1px solid white;
    background-color: #46b2e0;
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 15px;
    width: 60px;
    display: grid;
    gap: 20px;
}

.forecast-card.now {
    background-color: #1b3c61;
}

.forecast-card img {
    width: 30px;
    height: 30px;
}

.forecast-card .time {
    font-size: 12px;
    margin-bottom: 5px;
}

.forecast-card .temp {
    font-size: 16px;
    font-weight: bold;
}

.forecast-title {
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 15px;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}


@media screen {

}

/* .profile-header {
    background-color: #3926A6;
    height: 450px;
    width: 100%;
}

.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #4caf50;
    display: block;
    margin: 0 auto 10px;
} */
